@model WebApplication3.Models.Demo
@{
    ViewBag.Title = "MyForm";
}
<style>
    .error {
        color: darkmagenta
    }
</style>

<h2>MyForm</h2>

@using (Html.BeginForm("MyForm", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m=>m.Id)
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Please Enter Your Name", data_val = "true", data_val_required = "Please Enter your vallid Name" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "st" })
    </div>

    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Please Enter Your Email", data_val = "true", data_val_required = "Please Enter your vallid Email" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "st" })
    </div>


    <div class="form-group">
        <label>Mobile</label>
        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", placeholder = "Please Enter Your Mobile", data_val = "true", data_val_required = "Please Enter your vallid Mobile" })
        @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "st" })
    </div>

    <div class="form-group">
        <label>Salary</label>
        @Html.TextBoxFor(m => m.Salary, new { @class = "form-control", placeholder = "Please Enter Your Salary", data_val = "true", data_val_required = "Please Enter your vallid Salary" })
        @Html.ValidationMessageFor(m => m.Salary, "", new { @class = "st" })
    </div>

    <div class="form-group">
        <label>Depat</label>
        @Html.TextBoxFor(m => m.Depat, new { @class = "form-control", placeholder = "Please Enter Your Depat", data_val = "true", data_val_required = "Please Enter your vallid Depat" })
        @Html.ValidationMessageFor(m => m.Depat, "", new { @class = "st" })
    </div>

    <div class="form-group">
        <label>ZipCode</label>
        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", placeholder = "Please Enter Your ZipCode", data_val = "true", data_val_required = "Please Enter your vallid ZipCode" })
        @Html.ValidationMessageFor(m => m.ZipCode, "", new { @class = "st" })
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
    <button class="btn btn-success" type="reset">Reset</button>
}